<div class="jumbotron">
  <h1>App-like-Instaへようこそ</h1>
  <p>０から始めるWebアプリ開発。画像投稿の仕組みを学ぶ。</p>
</div>

<div class="row" style="height: 300px; background-color: white;">
  <div class="col-md-3">left-side</div>
  <div class="col-md-6" style="height: 300px; background-color: red">
    center-side
    <img src="" style="padding: 20px;width: 80%; height: 80%;">
  </div>
  <div class="col-md-3">right-side</div>
</div>

<div class="row">
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
</div>
<div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-6">.col-md-6</div>
</div>
