<div class="jumbotron">
  <h1>App-like-Instaへようこそ</h1>
  <p>０から始めるWebアプリ開発。画像投稿の仕組みを学ぶ。</p>
</div>

<!-- <div class="row" style="height: 300px; background&#45;color: white;"> -->
<!--   <div class="col&#45;md&#45;3">left&#45;side</div> -->
<!--   <div class="col&#45;md&#45;6" style="height: 300px; background&#45;color: red"> -->
<!--     center&#45;side -->
<!--     <img src="" style="padding: 20px;width: 80%; height: 80%;"> -->
<!--   </div> -->
<!--   <div class="col&#45;md&#45;3">right&#45;side</div> -->
<!-- </div> -->
<!--  -->
<!-- <div class="row"> -->
<!--   <div class="col&#45;md&#45;1">.col&#45;md&#45;1</div> -->
<!--   <div class="col&#45;md&#45;1">.col&#45;md&#45;1</div> -->
<!--   <div class="col&#45;md&#45;1">.col&#45;md&#45;1</div> -->
<!--   <div class="col&#45;md&#45;1">.col&#45;md&#45;1</div> -->
<!--   <div class="col&#45;md&#45;1">.col&#45;md&#45;1</div> -->
<!--   <div class="col&#45;md&#45;1">.col&#45;md&#45;1</div> -->
<!--   <div class="col&#45;md&#45;1">.col&#45;md&#45;1</div> -->
<!--   <div class="col&#45;md&#45;1">.col&#45;md&#45;1</div> -->
<!--   <div class="col&#45;md&#45;1">.col&#45;md&#45;1</div> -->
<!--   <div class="col&#45;md&#45;1">.col&#45;md&#45;1</div> -->
<!--   <div class="col&#45;md&#45;1">.col&#45;md&#45;1</div> -->
<!--   <div class="col&#45;md&#45;1">.col&#45;md&#45;1</div> -->
<!-- </div> -->
<!-- <div class="row"> -->
<!--   <div class="col&#45;md&#45;8">.col&#45;md&#45;8</div> -->
<!--   <div class="col&#45;md&#45;4">.col&#45;md&#45;4</div> -->
<!-- </div> -->
<!-- <div class="row"> -->
<!--   <div class="col&#45;md&#45;4">.col&#45;md&#45;4</div> -->
<!--   <div class="col&#45;md&#45;4">.col&#45;md&#45;4</div> -->
<!--   <div class="col&#45;md&#45;4">.col&#45;md&#45;4</div> -->
<!-- </div> -->
<!-- <div class="row"> -->
<!--   <div class="col&#45;md&#45;6">.col&#45;md&#45;6</div> -->
<!--   <div class="col&#45;md&#45;6">.col&#45;md&#45;6</div> -->
<!-- </div> -->
