// #application body{..}
body{
  padding-top: 70px;
}
.navbar-default{
 background-color: #3D6B91;
 a{
   color: #fff !important;
   &:hover{
     color: #ccc !important;
   }
 }
}

header{
 background-color: #3D6B91;
 a{
   font-size: 18px;
 }
}


